<nav class="bg-unrobot-blue text-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between items-center h-16">
  
      <a [routerLink]="['/']" class="flex items-center space-x-3 group">
       <!-- <svg class="h-10 w-10 text-unrobot-gold group-hover:opacity-80 transition-opacity" 
             fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" 
                d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0L7 10.12 1.95 11.5c-1.6.25-2.24 2.18-1.04 3.38L4.6 18.54l-1.32 5.09c-.3 1.16.82 2.15 1.9 1.69L10 22.95l4.82 2.37c1.08.46 2.2-.53 1.9-1.69L15.4 18.54l3.69-3.66c1.2-1.2.56-3.13-1.04-3.38L13 10.12l-1.51-6.95z" 
                clip-rule="evenodd">
          </path>
        </svg>
        -->
        <span class="font-heading font-bold text-2xl text-unrobot-gold group-hover:opacity-80 transition-opacity">
          UNRobot LiveHub
        </span>
        <span class="text-gray-300 text-lg ml-2 font-sans">
          | Panel de Jueces
        </span>
      </a>

      <div class="hidden md:flex items-center space-x-4">
        </div>

    </div>
  </div>
</nav>