<footer class="bg-brand-dark text-gray-400 shadow-inner mt-12">
  <div class="max-w-6xl mx-auto px-4 py-8">
    
    <div class="flex justify-between items-center text-sm">
      
      <div>
        <span class="font-sans">
          &copy; {{ currentYear }} UNRobot LiveHub. Todos los derechos reservados.
        </span>
      </div>

      <div class="flex items-center space-x-4">
        <span class="font-heading text-unrobot-gold">CEIMTUN RAS</span>
      </div>

    </div>

  </div>
</footer>